    /*
    Flaticon icon font: Flaticon
    Creation date: 19/12/2018 08:31
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-santa-claus:before { content: "\f100"; }
.flaticon-002-christmas-tree:before { content: "\f101"; }
.flaticon-003-bauble:before { content: "\f102"; }
.flaticon-004-sled:before { content: "\f103"; }
.flaticon-005-snowman:before { content: "\f104"; }
.flaticon-006-snowflake:before { content: "\f105"; }
.flaticon-007-winter-hat:before { content: "\f106"; }
.flaticon-008-star:before { content: "\f107"; }
.flaticon-009-gingerbread-man:before { content: "\f108"; }
.flaticon-010-gift-bag:before { content: "\f109"; }
.flaticon-011-deer:before { content: "\f10a"; }
.flaticon-012-mitten:before { content: "\f10b"; }
.flaticon-013-breakfast:before { content: "\f10c"; }
.flaticon-014-snow-globe:before { content: "\f10d"; }
.flaticon-015-christmas-sock:before { content: "\f10e"; }
.flaticon-016-christmas-wreath:before { content: "\f10f"; }
.flaticon-017-mistletoe:before { content: "\f110"; }
.flaticon-018-elf:before { content: "\f111"; }
.flaticon-019-candle:before { content: "\f112"; }
.flaticon-020-chimney:before { content: "\f113"; }
.flaticon-021-turkey:before { content: "\f114"; }
.flaticon-022-girl:before { content: "\f115"; }
.flaticon-023-bell:before { content: "\f116"; }
.flaticon-024-christmas-card:before { content: "\f117"; }
.flaticon-025-top-hat:before { content: "\f118"; }
.flaticon-026-pine-cone:before { content: "\f119"; }
.flaticon-027-light:before { content: "\f11a"; }
.flaticon-028-hot-chocolate:before { content: "\f11b"; }
.flaticon-029-poinsettia:before { content: "\f11c"; }
.flaticon-030-drum:before { content: "\f11d"; }
.flaticon-031-wine:before { content: "\f11e"; }
.flaticon-032-scarf:before { content: "\f11f"; }
.flaticon-033-ribbon:before { content: "\f120"; }
.flaticon-034-sweater:before { content: "\f121"; }
.flaticon-035-cabin:before { content: "\f122"; }
.flaticon-036-christmas-card-1:before { content: "\f123"; }
.flaticon-037-angel:before { content: "\f124"; }
.flaticon-038-fireplace:before { content: "\f125"; }
.flaticon-039-candy-cane:before { content: "\f126"; }
.flaticon-040-boy:before { content: "\f127"; }
.flaticon-041-muffin:before { content: "\f128"; }
.flaticon-042-pie:before { content: "\f129"; }
.flaticon-043-earmuffs:before { content: "\f12a"; }
.flaticon-044-jingle-bell:before { content: "\f12b"; }
.flaticon-045-train:before { content: "\f12c"; }
.flaticon-046-boot:before { content: "\f12d"; }
.flaticon-047-candies:before { content: "\f12e"; }
.flaticon-048-bonfire:before { content: "\f12f"; }
.flaticon-049-shooting-star:before { content: "\f130"; }
.flaticon-050-gift:before { content: "\f131"; }
    
    $font-Flaticon-001-santa-claus: "\f100";
    $font-Flaticon-002-christmas-tree: "\f101";
    $font-Flaticon-003-bauble: "\f102";
    $font-Flaticon-004-sled: "\f103";
    $font-Flaticon-005-snowman: "\f104";
    $font-Flaticon-006-snowflake: "\f105";
    $font-Flaticon-007-winter-hat: "\f106";
    $font-Flaticon-008-star: "\f107";
    $font-Flaticon-009-gingerbread-man: "\f108";
    $font-Flaticon-010-gift-bag: "\f109";
    $font-Flaticon-011-deer: "\f10a";
    $font-Flaticon-012-mitten: "\f10b";
    $font-Flaticon-013-breakfast: "\f10c";
    $font-Flaticon-014-snow-globe: "\f10d";
    $font-Flaticon-015-christmas-sock: "\f10e";
    $font-Flaticon-016-christmas-wreath: "\f10f";
    $font-Flaticon-017-mistletoe: "\f110";
    $font-Flaticon-018-elf: "\f111";
    $font-Flaticon-019-candle: "\f112";
    $font-Flaticon-020-chimney: "\f113";
    $font-Flaticon-021-turkey: "\f114";
    $font-Flaticon-022-girl: "\f115";
    $font-Flaticon-023-bell: "\f116";
    $font-Flaticon-024-christmas-card: "\f117";
    $font-Flaticon-025-top-hat: "\f118";
    $font-Flaticon-026-pine-cone: "\f119";
    $font-Flaticon-027-light: "\f11a";
    $font-Flaticon-028-hot-chocolate: "\f11b";
    $font-Flaticon-029-poinsettia: "\f11c";
    $font-Flaticon-030-drum: "\f11d";
    $font-Flaticon-031-wine: "\f11e";
    $font-Flaticon-032-scarf: "\f11f";
    $font-Flaticon-033-ribbon: "\f120";
    $font-Flaticon-034-sweater: "\f121";
    $font-Flaticon-035-cabin: "\f122";
    $font-Flaticon-036-christmas-card-1: "\f123";
    $font-Flaticon-037-angel: "\f124";
    $font-Flaticon-038-fireplace: "\f125";
    $font-Flaticon-039-candy-cane: "\f126";
    $font-Flaticon-040-boy: "\f127";
    $font-Flaticon-041-muffin: "\f128";
    $font-Flaticon-042-pie: "\f129";
    $font-Flaticon-043-earmuffs: "\f12a";
    $font-Flaticon-044-jingle-bell: "\f12b";
    $font-Flaticon-045-train: "\f12c";
    $font-Flaticon-046-boot: "\f12d";
    $font-Flaticon-047-candies: "\f12e";
    $font-Flaticon-048-bonfire: "\f12f";
    $font-Flaticon-049-shooting-star: "\f130";
    $font-Flaticon-050-gift: "\f131";